@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Open Sans', sans-serif;
}
a{
    text-decoration: none;
    color: #000;
}
ul{
    list-style: none;
}


header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    backdrop-filter: blur(20px);
    .logo{
        position: relative;
        color: #fff;
        text-decoration: none;
        font-weight: 700;
        font-size: 2em;
    }
    ul{
        position: relative;
        display: flex;
        gap: 40px;
        li.active, li:hover{
            a{
                color: #30fe6c;
            }
        }
        a{
            color: #fff;
            font-weight: 500;
            font-size: 1.25em;
        }
    }
}
#home{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: #222;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px;
    &::before{
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        width: 50vw;
        height: 25vw;
        background: #30fe6c;
        border-top-right-radius: 25vw;
        border-top-left-radius: 25vw;
    }
    .content{
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 10px;
        max-width: 650px;
        z-index: 10;
        h2{
            position: relative;
            font-size: 5em;
            color: #30fe6c;
        }
        p{
            position: relative;
            color: #fff;
            font-size: 1.2em;
            line-height: 1.6em;
        }
    }
    .men{
        position: absolute;
        bottom: 0;
        right: 100px;
        max-width: 90vh;
    }
    
}
.btn{
    position: relative;
    display: inline-block;
    font-size: 1.25em;
    max-width: 200px;
    background: #30fe6c;
    color: #222;
    text-align: center;
    padding: 18px 30px;
    font-weight: 500;
    letter-spacing: 0.05em;
    margin-top: 10px;
}
#services,
#portfolio,
#contact{
    position: relative;
    background: #34353a;
    min-height: 100vh;
    padding: 120px 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.secText{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h2{
        font-size: 3em;
        color: #fff;
    }
    p{
        max-width: 700px;
        text-align: center;
        color: #aaa;
        font-size: 1.1em;
        line-height: 1.5em;
    }
}
.center{
    width: 100%;
    text-align: center;
}
#services{
    .content{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-gap: 20px;
        margin: 40px 0;
        cursor: pointer;
        .servicesBx{
            background: #2e2f34;
            padding: 50px 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            border: 2px solid #2e2f34;
            &:hover{
                border: 2px solid #30fe6c;
            }
            img{
                max-width: 100px;
                filter: invert(1);
                opacity: 0.5;
                transition: 0.5s;
            }
            &:hover img{
                opacity: 0.85;
            }
            h3{
                color: #fff;
                font-weight: 500;
                color: #30fe6c;
            }
        }
    }
}
#portfolio{
    background: #2e2f34;
    text-align: center;
    .content{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
        margin: 40px 0;
        .imgBx{
            position: relative;
            img{
                max-width: 100%;
            }
        }
    }
}
#contact{
    .content{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-gap: 20px;
        margin: 40px 0;
        a{
            background: #2e2f34;
            height: 120px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.2em;
            color: #fff;
            transition: 0.5s;
            &:hover{
                background: #30fe6c;
            }
            &:hover, &:hover ion-icon{
                color: #222;
            }
            ion-icon{
                color: #30fe6c;
                font-size: 1.5em;
                margin-right: 10px;
            }
        }
    }
    .copyrights{
        margin-top: 150px;
        position: relative;
        color: #aaa;
        font-size: 1.2em;
    }
}


@media screen and (min-width: 641px) and (max-width: 1024px) {
    header{
        padding: 20px 50px;
        ul{
            display: none;
        }
    }
    #home{
        padding: 150px 50px;
        flex-direction: column;
        padding-bottom: 0;
        .content{
            h2{
                font-size: 4em;
            }
        }
        .men{
            position: absolute;
            height: 50vh;
            right: 70px;
        }
    }
    .btn{
        max-width: 160px;
        padding: 10px 20px;
    }
    .secText{
        h2{
            font-size: 2em;
            text-align: center;
        }
    }
    #services, #portfolio, #contanct{
        padding: 100px 50px;
        .content{
            grid-template-columns: repeat(2,1fr);
        }
    }
    .menuToggle{
        position: relative;
        width: 30px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        &::before{
            content:'';
            position: absolute;
            width: 100%;
            height: 2px;
            background: #fff;
            transform: translateY(-10px);
            transition: 0.5s;
            box-shadow: 0 10px #fff;
        }
        &::after{
            content:'';
            position: absolute;
            width: 100%;
            height: 2px;
            background: #fff;
            transform: translateY(10px);
            transition: 0.5s;
        }
    }
    header.active{
        ul{
            position: fixed;
            left: 0;
            top: 84px;
            width: 100%;
            height: calc(100vh - 84px);
            background: rgba(50, 50, 50, 0.95);
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            z-index: 1000;
            gap: 20px;
            li{
                a{
                    font-size: 2em;
                }
            }
        }
        .menuToggle::before{
            transform: translateY(0px) rotate(45deg);
            box-shadow: 0 0 #fff;
        }
        .menuToggle::after{
            transform: translateY(0px) rotate(315deg);
        }
    }
}

@media screen and (max-width: 640px) {
    #home{
        
        .content{
            h2{
                font-size: 3em;
            }
        }
        &::before{
            width: 80vw;
            height: 40vw;
            border-top-right-radius: 80vw;
            border-top-left-radius: 80vw;
        }
        .men{
            height: 40vh;
        }
    }
    #services, #portfolio, #contanct{
        .content{
            grid-template-columns: repeat(1,1fr);
        }
    }
    header{
        padding: 20px 50px;
        ul{
            display: none;
        }
    }
    .menuToggle{
        position: relative;
        width: 30px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        &::before{
            content:'';
            position: absolute;
            width: 100%;
            height: 2px;
            background: #fff;
            transform: translateY(-10px);
            transition: 0.5s;
            box-shadow: 0 10px #fff;
        }
        &::after{
            content:'';
            position: absolute;
            width: 100%;
            height: 2px;
            background: #fff;
            transform: translateY(10px);
            transition: 0.5s;
        }
    }
    header.active{
        ul{
            position: fixed;
            left: 0;
            top: 84px;
            width: 100%;
            height: calc(100vh - 84px);
            background: rgba(50, 50, 50, 0.95);
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            z-index: 1000;
            gap: 20px;
            li{
                a{
                    font-size: 2em;
                }
            }
        }
        .menuToggle::before{
            transform: translateY(0px) rotate(45deg);
            box-shadow: 0 0 #fff;
        }
        .menuToggle::after{
            transform: translateY(0px) rotate(315deg);
        }
    }
}